In [1]:
advert = 1:5
sales = c(1, 1, 2, 2, 4)

In [3]:
rep(1, 5)

[1] 1 1 1 1 1

In [4]:
c(rep(1, 5), advert)

 [1] 1 1 1 1 1 1 2 3 4 5

In [5]:
matrix(c(rep(1, 5), advert), 5, 2)

     [,1] [,2]
[1,] 1    1
[2,] 1    2
[3,] 1    3
[4,] 1    4
[5,] 1    5

In [14]:
X = matrix(c(rep(1, 5), advert), 5, 2)
Y = matrix(sales, 5, 1)

In [15]:
Y

     [,1]
[1,] 1
[2,] 1
[3,] 2
[4,] 2
[5,] 4

ùêõ=„Äñ(ùêó‚Ä≤ ùêó)„Äó^(‚àíùüè) ùêó^‚Ä≤ ùêò

In [16]:
t(X) #trasnpose of matrix X

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    1    1    1    1
[2,] 1    2    3    4    5

In [17]:
t(X) %*% X

     [,1] [,2]
[1,]  5   15
[2,] 15   55

In [18]:
solve(t(X) %*% X)

     [,1] [,2]
[1,]  1.1 -0.3
[2,] -0.3  0.1

In [21]:
t(X)%*%Y

     [,1]
[1,] 10
[2,] 37

In [22]:
b = solve(t(X) %*% X) %*% t(X)%*%Y

In [23]:
b

     [,1]
[1,] -0.1
[2,]  0.7

In [24]:
# Y^ = Xb
Yhat = X%*%b
Yhat

     [,1]
[1,] 0.6
[2,] 1.3
[3,] 2.0
[4,] 2.7
[5,] 3.4

In [25]:
e = Y - Yhat
e

     [,1]
[1,]  4.000000e-01
[2,] -3.000000e-01
[3,] -3.108624e-15
[4,] -7.000000e-01
[5,]  6.000000e-01

In [26]:
SSE = t(e)%*%e
SSE

     [,1]
[1,] 1.1

In [43]:
#MSE
s2 = SSE/3 
s2

     [,1]
[1,] 0.3666667

In [37]:
part1  = solve(t(X) %*% X)
part1

     [,1] [,2]
[1,]  1.1 -0.3
[2,] -0.3  0.1

In [45]:
variance_b = as.numeric(s2) * part1
variance_b

     [,1]       [,2]
[1,]  0.4033333 -0.11000000
[2,] -0.1100000  0.03666667

In [46]:
s_b1 = sqrt(0.03666667)
s_b1

[1] 0.1914854

In [48]:
#t* = b1/s_b1, compare with qt(0.975, 3)
# if greater, reject H_0

t_star = 0.7/s_b1
t_star
qt(0.975, 3)
# rejct

[1] 3.655631

[1] 3.182446

confidence interval ùëå¬†ÃÇ_‚Ñé¬±ùë°(1‚àíùõº/2;ùëõ‚àí2)  ùë†{ùëå¬†ÃÇ_‚Ñé }

In [51]:
Xh = matrix(c(1, 4), 2, 1)
Xh

     [,1]
[1,] 1
[2,] 4

In [52]:
t(Xh) %*% solve(t(X)%*%X) %*% Xh

     [,1]
[1,] 0.3

In [53]:
s2Yh = s2 * 0.3 
s2Yh

     [,1]
[1,] 0.11

In [55]:
Yh = t(Xh) %*% b
Yh

     [,1]
[1,] 2.7

In [58]:
Yh + qt(0.975, 3)* sqrt(s2Yh)

     [,1]
[1,] 3.755498

In [59]:
Yh - qt(0.975, 3)* sqrt(s2Yh)

     [,1]
[1,] 1.644502